@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2c2c40;
  color: white;
  font-family: sans-serif;
}

a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 64px;
  transition: 0.5s;
  font-size: 20px;
}

a:hover,
a.active {
  opacity: 1;
}

.nav {
  background: #293245;
}

.nav-links {
  width: 50vw;
}

.home-section {
  width: 100%;
  height: 92.9vh;
  padding: 0 150px;
  top: 0;
  opacity: 0;
  transition: 2s;
}

.hero-heading {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px white;
  font-size: 150px;
  text-transform: capitalize;
  font-weight: 300;
  position: absolute;
  top: 22%;
  left: 15%;
  transition: 2s;
}

@media (max-width: 1600px) {
  .hero-heading {
    font-size: 120px;
    left: 13%;
    top: 26%;
  }
}

@media (max-width: 1350px) {
  .hero-heading {
    font-size: 100px;
    left: 10%;
    top: 29%;
  }
}

@media (max-width: 1080px) {
  .hero-heading {
    font-size: 80px;
    left: 8%;
    top: 33%;
  }
}

@media (max-width: 890px) {
  .hero-heading {
    font-size: 72px;
    left: 0%;
    top: 34.5%;
  }
  .nav-links {
    width: 65vw;
  }
}

@media (max-width: 760px) {
  .hero-heading {
    -webkit-text-stroke: 1px white;
    font-size: 64px;
    left: -4%;
    top: 36%;
  }
  .nav-links {
    width: 75vw;
  }
}

@media (max-width: 620px) {
  .hero-heading {
    font-size: 56px;
    left: -8%;
    top: 39%;
  }
}

@media (max-width: 540px) {
  .hero-heading {
    font-size: 48px;
    left: -12%;
  }
}

@media (max-width: 480px) {
  .hero-heading {
    font-size: 40px;
    left: -16%;
  }
  .nav-links {
    width: 90vw;
  }
}

.home-img {
  position: absolute;
  top: 0;
  right: -100px;
  height: 100%;
  width: 50%;
  object-fit: cover;
  opacity: 0.3;
  border-radius: 4px;
  transition: 2s;
}

.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}

.home-img.active {
  transform: translateX(-100px);
}

.hero-heading.active {
  transform: translateX(100px);
}

/* project-section */

.project-section {
  width: 100%;
  min-height: 100vh;
  padding: 48px 100px 48px;
  position: fixed;
  top: 0;
  transition: 2s;
  opacity: 0;
}

.project-heading {
  font-size: 100px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: #2c2c40;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px white;
}

@media (max-width: 1200px) {
  .project-heading {
    font-size: 72px;
  }
}

@media (max-width: 900px) {
  .project-heading {
    font-size: 64px;
  }
}

@media (max-width: 900px) {
  .project-heading {
    font-size: 56px;
    -webkit-text-stroke: 1px white;
  }
}

@media (max-width: 750px) {
  .project-heading {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .project-heading {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .project-heading {
    font-size: 24px;
    -webkit-text-stroke: 0px white;
    color: white;
  }
}

.project-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 1410px) {
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.project-card {
  height: 400px;
  position: relative;
  border: solid #bcf7ff 2px;
  border-radius: 16px;
  width: 5vw;
  display: block;
}

.project-card-active {
  height: 400px;
  position: relative;
  border: solid #bcf7ff 2px;
  border-radius: 16px;
  width: 40vw;
  margin: 0 24px;
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1410px) {
  .project-card-active {
    width: 80vw;
    margin-bottom: 32px;
    transition: 1s;
  }
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 16px;
}

.project-content {
  position: relative;
  padding: 24px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}

.project-title {
  font-size: 48px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

@media (max-width: 1600px) {
  .project-title {
    font-size: 40px;
  }
}

@media (max-width: 1410px) {
  .project-title {
    font-size: 32px;
  }
  .project-info {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .project-title {
    font-size: 24px;
  }
  .project-info {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .project-title {
    font-size: 24px;
  }
  .project-info {
    font-size: 8px;
  }
}

.project-info {
  margin: 40px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-btn.live {
  background: none;
  border: 2px solid #fff;
}

.project-card-active:hover .project-img {
  filter: blur(20px);
}

.project-card-active:hover .project-content {
  opacity: 1;
}

.about-section {
  width: 100%;
  padding: 96px 112px;
  top: 0;
  opacity: 0;
  transition: 2s;
}

.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 720px;
}

.about-img-container {
  position: relative;
  width: 40%;
}

.about-info {
  width: 56%;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  line-height: 38px;
  font-family: monospace;
  white-space: normal;
}

@media (max-width: 1815px) {
  .about-info {
    line-height: 36px;
  }
}

@media (max-width: 1700px) {
  .about-info {
    line-height: 34px;
  }
}

@media (max-width: 1660px) {
  .about-info {
    line-height: 32px;
  }
}

@media (max-width: 1530px) {
  .about-info {
    line-height: 30px;
  }
}

@media (max-width: 1500px) {
  .about-info {
    line-height: 28px;
  }
}

@media (max-width: 1420px) {
  .about-info {
    line-height: 26px;
  }
}

@media (max-width: 1320px) {
  .about-info {
    line-height: 24px;
  }
}

@media (max-width: 1255px) {
  .about-info {
    font-size: 18px;
  }
}

@media (max-width: 1155px) {
  .about-info {
    font-size: 16px;
  }
}

@media (max-width: 1060px) {
  .about {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .about-img-container {
    width: 100%;
    margin-bottom: 32px;
  }
  .about-info {
    width: 100%;
  }
  .about-section {
    padding: 64px 24px;
  }
}

.about-info span {
  opacity: 0;
  animation: fadeIn 0.005s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.download-cv-btn {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 16px;
  border-radius: 16px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover {
  background: #000;
}

@media (max-width: 680px) {
  .download-cv-btn {
    top: 16px;
  }
}

.skill-section {
  position: relative;
  margin: 72px 0;
  width: 100%;
}

.heading {
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 72px;
}

.skills-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 72px;
  color: #fff;
  justify-items: center;
}

.skill-card {
  position: relative;
}

.skill-last {
  position: relative;
  width: 27vw;
  margin: 52px auto 0;
}

.skill-img {
  display: block;
  margin: auto;
  height: 194px;
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin-top: 48px;
  margin-bottom: 8px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 18px;
  line-height: 24px;
}

.skill-wheel {
  position: absolute;
  top: 88px;
  right: 48px;
  width: 150px;
  height: 150px;
}

.skill-level {
  fill: none;
  stroke-width: 10;
  transition: stroke-dashoffset 0.5s ease;
}

.skill-level-container {
  position: absolute;
  top: 88px;
  right: 48px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
}

@media (max-width: 1840px) {
  .skill-img {
    height: 180px;
  }
  .skill-name {
    font-size: 28px;
  }
  .skill-info {
    font-size: 16px;
  }
  .skills-container {
    grid-gap: 64px;
  }
  .skill-wheel {
    top: 72px;
  }
  .skill-level-container {
    top: 72px;
  }
}

@media (max-width: 1780px) {
  .skill-img {
    height: 160px;
  }
  .skills-container {
    grid-gap: 56px;
  }
}

@media (max-width: 1700px) {
  .skills-container {
    grid-gap: 32px;
  }
}

@media (max-width: 1650px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .skill-wheel {
    right: 128px;
  }
  .skill-level-container {
    right: 128px;
  }
  .skill-last {
    width: 44vw;
  }
  .skill-last .skill-level-container {
    right: 148px;
  }

  .skill-last .skill-wheel {
    right: 148px;
  }
}

@media (max-width: 1540px) {
  .skill-wheel {
    right: 104px;
  }
  .skill-level-container {
    right: 104px;
  }
  .skill-last .skill-level-container {
    right: 124px;
  }

  .skill-last .skill-wheel {
    right: 124px;
  }
}

@media (max-width: 1430px) {
  .skill-wheel {
    right: 88px;
  }
  .skill-level-container {
    right: 88px;
  }
  .skill-last .skill-level-container {
    right: 108px;
  }

  .skill-last .skill-wheel {
    right: 108px;
  }
}

@media (max-width: 1330px) {
  .skill-wheel {
    right: 48px;
  }
  .skill-level-container {
    right: 48px;
  }

  .skill-last .skill-level-container {
    right: 68px;
  }

  .skill-last .skill-wheel {
    right: 68px;
  }
}

@media (max-width: 1170px) {
  .skill-wheel {
    right: 24px;
  }
  .skill-level-container {
    right: 24px;
  }
  .skill-last .skill-level-container {
    right: 44px;
  }

  .skill-last .skill-wheel {
    right: 44px;
  }
}

@media (max-width: 960px) {
  .skill-wheel {
    right: 8px;
  }
  .skill-level-container {
    right: 8px;
  }
  .skill-last .skill-level-container {
    right: 28px;
  }

  .skill-last .skill-wheel {
    right: 28px;
  }
}

@media (max-width: 840px) {
  .skills-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .skill-wheel {
    right: 172px;
  }
  .skill-level-container {
    right: 172px;
  }
  .skill-last {
    width: 97%;
  }
  .skill-last .skill-level-container {
    right: 116px;
  }
  .skill-last .skill-wheel {
    right: 116px;
  }
}

@media (max-width: 840px) {
  .skill-wheel {
    right: 120px;
  }
  .skill-level-container {
    right: 120px;
  }
  .skill-last .skill-level-container {
    right: 116px;
  }
  .skill-last .skill-wheel {
    right: 116px;
  }
}

@media (max-width: 660px) {
  .skill-wheel {
    right: 72px;
  }
  .skill-level-container {
    right: 72px;
  }
  .skill-last .skill-level-container {
    right: 68px;
  }
  .skill-last .skill-wheel {
    right: 68px;
  }
}

@media (max-width: 565px) {
  .skill-wheel {
    right: 48px;
  }
  .skill-level-container {
    right: 48px;
  }
  .skill-last .skill-level-container {
    right: 44px;
  }
  .skill-last .skill-wheel {
    right: 44px;
  }
}

@media (max-width: 512px) {
  .skill-wheel {
    right: 32px;
  }
  .skill-level-container {
    right: 32px;
  }
  .skill-last .skill-level-container {
    right: 28px;
  }
  .skill-last .skill-wheel {
    right: 28px;
  }
}

@media (max-width: 480px) {
  .skill-wheel {
    right: 8px;
  }
  .skill-level-container {
    right: 8px;
  }
  .skill-last .skill-level-container {
    right: 4px;
  }
  .skill-last .skill-wheel {
    right: 4px;
  }
}

.skill-card:nth-child(1) .skill-level-container {
  background: rgba(255, 79, 79, 0.16);
  border-color: rgba(161, 51, 51, 0.16);
  color: rgb(255, 79, 79);
}

.skill-card:nth-child(2) .skill-level-container {
  background: rgba(79, 160, 255, 0.16);
  border-color: rgba(0, 81, 173, 0.16);
  color: rgb(79, 160, 255);
}

.skill-card:nth-child(3) .skill-level-container {
  background: rgba(255, 237, 79, 0.16);
  border-color: rgba(158, 147, 46, 0.16);
  color: rgb(255, 237, 79);
}

.skill-card:nth-child(4) .skill-level-container {
  background: rgba(82, 255, 79, 0.16);
  border-color: rgba(82, 255, 79, 0.16);
  color: rgb(82, 255, 79);
}

.skill-card:nth-child(5) .skill-level-container {
  background: rgba(79, 223, 255, 0.16);
  border-color: rgba(79, 223, 255, 0.16);
  color: rgb(79, 223, 255);
}

.skill-card:nth-child(6) .skill-level-container {
  background: rgba(79, 160, 255, 0.16);
  border-color: rgba(0, 81, 173, 0.16);
  color: rgb(79, 160, 255);
}

.skill-card:nth-child(7) .skill-level-container {
  background: rgba(79, 223, 255, 0.16);
  border-color: rgba(79, 223, 255, 0.16);
  color: rgb(79, 223, 255);
}

.skill-card:nth-child(8) .skill-level-container {
  background: rgba(79, 160, 255, 0.16);
  border-color: rgba(0, 81, 173, 0.16);
  color: rgb(79, 160, 255);
}

.skill-card:nth-child(9) .skill-level-container {
  background: rgba(236, 240, 241, 0.16);
  border-color: rgba(236, 240, 241, 0.16);
  color: rgb(236, 240, 241);
}

.skill-card:nth-child(10) .skill-level-container {
  background: rgba(79, 160, 255, 0.16);
  border-color: rgba(79, 160, 255, 0.16);
  color: rgb(79, 160, 255);
}

.skill-card:nth-child(11) .skill-level-container {
  background: rgba(69, 69, 69, 0.3);
  border-color: rgb(102, 102, 102, 0.16);
  color: rgb(126, 125, 125);
}

.skill-card:nth-child(12) .skill-level-container {
  background: rgba(69, 25, 118, 0.16);
  border-color: rgb(69, 29, 134, 0.16);
  color: rgb(108, 62, 161);
}

.skill-last .skill-level-container {
  background: rgba(236, 240, 241, 0.16);
  border-color: rgb(236, 240, 241, 0.16);
  color: rgb(236, 240, 241);
}

.timeline {
  display: block;
  width: 80%;
  margin: 150px auto;
}

@media (max-width: 1360px) {
  .timeline {
    width: 100%;
  }
}

.timeline .heading {
  margin-bottom: 150px;
}

.card {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: -80px 0;
  position: relative;
  background: #f00;
}

.card-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .card-detail {
    font-size: 14px;
  }
  .card-title {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .card-detail {
    font-size: 12px;
  }
  .card-title {
    font-size: 20px;
  }
}

.card:nth-child(even) {
  margin-left: auto;
}

.card:nth-child(even):before {
  content: "";
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(even):after {
  content: "";
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(odd):before {
  content: "";
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(odd):after {
  content: "";
  position: absolute;
  right: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(2),
.card:nth-child(2):before {
  background: #ff4f4f;
}

.card:nth-child(3),
.card:nth-child(3):before {
  background: #ffb84f;
}

.card:nth-child(4),
.card:nth-child(4):before {
  background: #3dca5c;
}

.card:nth-child(5),
.card:nth-child(5):before {
  background: #565252;
}

.card:nth-child(6),
.card:nth-child(6):before {
  background: #4fa0ff;
}

.card:nth-child(even) .card-body:before {
  content: "";
  position: absolute;
  left: -12%;
  top: 0;
  width: 0px;
  height: 100%;
  border: 1px dashed #fff;
  z-index: -1;
}

.contact-section {
  opacity: 0;
  transition: 2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93vh;
  padding: 0 96px;
}

.contact-form {
  height: 85%;
  width: 45%;
}

.map {
  width: 45%;
  height: 85%;
  padding: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .contact-section {
    flex-direction: column;
    padding: 48px 32px;
    height: 154vh
  }
  .contact-form {
    height: 35%;
    width: 85%;
  }
  .map {
    width: 85%;
    height: 45%;
  }
}

@media (max-width: 500px) {
  .contact-section {
    flex-direction: column;
    padding: 48px 0;
    height: 154vh
  }
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  height: 40px;
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 10px;
}

::placeholder {
  color: #fff;
}

#msg {
  height: 400px;
  resize: none;
  font-family: sans-serif;
}

.form-submit-btn {
  background: #ff4f4f;
  color: #fff;
  text-transform: capitalize;
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
